<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.util.ylf.mynews">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>

                <action android:name="android.intent.action.VIEW"></action>
                <data android:scheme="myapp"></data>
            </intent-filter>
        </activity>
        <activity android:name=".news.NewsDetail"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".base.Regin"></activity>
        <activity android:name=".my.AppCenter"></activity>
        <activity android:name=".my.MyInfo"></activity>
        <activity android:name=".my.Setting"></activity>
        <activity android:name=".my.SysMessage"></activity>
        <activity android:name=".my.UpLoadVersion"></activity>

        <service android:name=".server.DownLoadServer"></service>

        <activity
            android:name=".talkmsg.TalkDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <receiver android:name=".widget.TimeProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetconfig"></meta-data>
        </receiver>
        <service android:name=".widget.TimeServer"></service>
    </application>

</manifest>
